PORT=3000
BASE_URL=http://4.224.186.213/evaluation-service
EMAIL=your_email_here
NAME=your_name_here
ROLL_NO=your_roll_no_here
ACCESS_CODE=your_access_code_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
